{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}
{% endblock %}

{% block content %}
<div class="w-100 mx-auto my-auto d-flex justify-content-center">
    <img src="{{imagefile}}" width="450" height="350" alt="http {{code}} error" />
</div>
{% endblock %}