{% extends "layout.twig" %}

{% block header %}
{% include "user/navbar.twig" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% if me is defined %}
        <div class="col-4">
            {% include "user/searchpostsidepanel.twig" %}
        </div>
        {% endif %}

        <div class="col-8">
            {% include "user/postslist.twig" %}
        </div>
    </div>
</div>
</div>
{% endblock %}