{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}    
{% endblock %}

{% block content %}

<div class="container-fluid w-50 mx-auto">
    <form action="">

        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="loginUsername" value="{{ loginUsername ?? loginUsername }}" required type="text" class="form-control" id="floatingUsername"
                        placeholder="Username">
                    <label for="floatingUsername">Username</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="loginPassword"  required type="password" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <input type="submit" class="btn btn-primary mb-3" value="Log In" />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <small class="d-block mb-3">not registered? <a href="#">Sign Up</a></small>
            </div>
        </div>
        </div>
    </form>
</div>

{% endblock %}