{% extends "layout.twig" %}

{% block header %}
{% include "user/navbar.twig" %}
{% endblock %}

{% block content %}

<div class="container">

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row row-cols-3">
            <div class="col">
                <div class="form-floating mb-3">
                    <input name="profileFirstname" value="{{ profileFirstname ? profileFirstname : me.firstName}}"
                        required type="text" class="form-control" id="floatingFirstname" placeholder="First Name">
                    <label for="floatingFirstname">First Name</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-3">
                    <input name="pofileLastname" value="{{ profileLastname ? profileLastname : me.lastName}}" required
                        type="text" class="form-control" id="floatingLastname" placeholder="Last Name">
                    <label for="floatingLastname">Last Name</label>
                </div>
            </div>

            <div class="col-auto align-self-center">
                <input type="submit" class="btn btn-primary mb-3" value="Save" />
            </div>
        </div>
    </form>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row row-cols-2">
            <div class="col">
                <div class="form-floating mb-3">
                    <input name="profileUsername" value="{{ profileUsername ? profileUsername : me.username }}" required
                        type="text" class="form-control" id="floatingUsername" placeholder="Username">
                    <label for="floatingUsername">Username</label>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <input type="submit" class="btn btn-primary mb-3" value="Save" />
            </div>
        </div>
    </form>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="row row-cols-2">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input name="profileEmail" value="{{ profileEmail ? profileEmail : me.email }}" required
                            type="email" class="form-control" id="floatingEmail" placeholder="Email">
                        <label for="floatingEmail">Email</label>
                    </div>
                </div>
                <div class="col-auto align-self-center">
                    <input type="submit" class="btn btn-primary mb-3" value="Save" />
                </div>
            </div>
    </form>
</div>


{% endblock %}