{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}    
{% endblock %}

{% block content %}

<div class="container-fluid w-50 mx-auto">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="signupUsername" value="{{ signupUsername ?? signupUsername }}" required type="text" 
                        class="form-control " id="floatingUsername"
                        placeholder="Username">
                    <label for="floatingUsername">Username</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="signupPassword" required type="password" class="form-control" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="signupConfirmPassword" required type="password" class="form-control" id="floatingConfirmPassword"
                        placeholder="Confirm Password">
                    <label for="floatingConfirmPassword">Confirm Password</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="signupFirstname" value="{{ signupFirstname ?? signupFirstname}}" required type="text" class="form-control" id="floatingFirstname"
                        placeholder="First Name">
                    <label for="floatingFirstname">First Name</label>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="signupLastname" value="{{ signupLastname ?? signupLastname}}" required type="text" class="form-control" id="floatingLastname"
                        placeholder="Last Name">
                    <label for="floatingLastname">Last Name</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="signupEmail" value="{{ signupEmail ?? signupEmail }}" required type="email" class="form-control" id="floatingEmail"
                        placeholder="Email">
                    <label for="floatingEmail">Email</label>
                </div>
            </div>
        </div>

        
        <div class="row justify-content-center">
            <div class="col-4">
                <input type="submit" class="btn btn-primary mb-3" value="Sign Up" />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <small class="d-block mb-3">already registered? <a href="#">Log In</a></small>
            </div>
        </div>
        </div>
    </form>
</div>

{% endblock %}