{% extends "layout.twig" %}

{% block meta %}

<meta name="description" content="{{ currentpost.shortDescription }}" />
<meta name="content_origin" content="{{ currentpost.createdOn.format(" Y-m-d")}}" />

{% endblock %}

{% block styles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block header %}
{% include "user/navbar.twig" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-4">
            {% include "user/searchpostsidepanel.twig" %}
        </div>
        <div class="col-8">
            <div class="container-fluid">
                <!-- 
                actions buttons for current post.
                show this if user is viewing own post
                -->
                {% if me is defined %}
                <div class="container-fluid d-flex justify-content-end mb-3">
                    <a href="#" class="btn btn-primary text-light me-2">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                    <button class="btn btn-danger text-light">
                        <i class="fa fa-trash"></i>
                        Delete
                    </button>
                </div>
                {% endif %}

                <!-- show content -->
                {% include "user/postcontent.twig" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}