{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <img src="public/images/404_error_background_image.jpg" width="550" alt="404 error">
</div>
{% endblock %}