{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}
{% endblock %}

{% block content %}

<div class="container w-50">

    <form action="" method="POST" enctype="multipart/form-data">

        <div class="form-floating mb-3">
            <input name="changepwPassword" required type="password" class="form-control" id="floatingPassword"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
            <small class="text-muted">a strong password contains combination of alphabets numbers and symbols and minimum length 8</small>
        </div>

        <div class="form-floating mb-3">
            <input name="changepwConfirmPassword" required type="password" class="form-control"
                id="floatingConfirmPassword" placeholder="Confirm Password">
            <label for="floatingConfirmPassword">Confirm Password</label>
            <small class="text-muted">retype above password</small>
        </div>

        <button type="submit" class="btn btn-success float-end">
            <i class="fa fa-save me-2"></i>
            Change Password
        </button>
    </form>
</div>

{% endblock %}