{% extends "layout.twig" %}

{% block header %}
{% include "user/navbar.twig" %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- START: Basic Personal Details -->

    <div class="row justify-content-center mb-3">
        <div class="col-lg-8 col-12">

            <p class="h4 text-center mb-3">Basic Personal Details</p>

            <form action="/profile" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="submitwhat" value="basicdetails" />
                <div class="row row-cols-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input name="firstName" value="{{ userDto.firstName }}" required type="text"
                                class="form-control" id="floatingFirstname" placeholder="First Name">
                            <label for="floatingFirstname">First Name</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3">
                            <input name="lastName" value="{{ userDto.lastName}}" required type="text"
                                class="form-control" id="floatingLastname" placeholder="Last Name">
                            <label for="floatingLastname">Last Name</label>
                        </div>
                    </div>

                    <div class="col-auto align-self-center">
                        <button class="btn btn-success mb-3" type="submit"><i class="fa fa-floppy-o me-2"
                                aria-hidden="true"></i>Save</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!-- END: Basic Personal Details -->

    <!-- START: Log In Details -->

    <div class="row justify-content-center mb-3">
        <div class="col-lg-8 col-12">
            <p class="h4 text-center mb-3">Log In Details</p>
            <form action="/profile" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="submitwhat" value="logindetails" />
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input name="username" value="{{ userDto.username }}" required type="text"
                                class="form-control" id="floatingUsername" placeholder="Username">
                            <label for="floatingUsername">Username</label>
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn btn-success mb-3" type="submit"><i class="fa fa-floppy-o me-2"
                                aria-hidden="true"></i>Save</button>
                    </div>
                </div>
            </form>

            <button type="button" id="btnChangePassword" class="btn btn-warning">
                <i class="fa fa-key" aria-hidden="true"></i>
                Change Password
            </button>
        </div>
    </div>

    <!-- END: Log In Details -->

    <!-- START: contact details -->

    <div class="row justify-content-center mb-3">
        <div class="col-lg-8 col-12">
            <p class="h4 text-center ">Contact Details</p>
            <form action="/profile" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="submitwhat" value="contactdetails" />
                <div class="row">
                    <div class="row row-cols-2">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input name="email" value="{{ userDto.email }}" required type="email"
                                    class="form-control" id="floatingEmail" placeholder="Email">
                                <label for="floatingEmail">Email</label>
                            </div>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-success mb-3" type="submit"><i class="fa fa-floppy-o me-2"
                                    aria-hidden="true"></i>Save</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <!-- END: contact details -->

    <!-- START: Posts Details -->

    <div class="row justify-content-center ">
        <div class="col-lg-8 col-12">
            <p class="h4 text-center mb-3">Post Details</p>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input type="hidden" name="submitwhat" value="deleteallposts">
                <button data-bs-toggle="modal" data-bs-target="#deleteAllPostsConfirm" type="button"
                    class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete all posts
                </button>
            </form>

        </div>
    </div>
    <!-- END: Post Details -->
</div>

<!-- Button trigger modal -->

<!-- START: confirmation modal before delete all posts -->
<div class="modal fade" id="deleteAllPostsConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteAllPostsConfirmTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="deleteAllPostsConfirmTitle">Confirm Delete All Posts</h5>
            </div>
            <div class="modal-body">
                You are about to delete all your posts. You cann't restore your posts later any way. Confirm to proceed
                or cancel.
            </div>
            <div class="modal-footer">
                <form action="/profile" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="submitwhat" value="deleteallposts">
                    <button type="submit" class="btn" data-bs-dismiss="modal">Confirm</button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END: confirmation modal before delete all posts -->
{% endblock %}