<div class="container">
    <figure class="text-center">
        <blockquote class="display-3 mb-2">{{currentpost.title}}</blockquote>
        <figcaption class="lead">
            <i>- by <a href="#" class="text-secondary">{{fullname(currentpost.creator.firstName,currentpost.creator.lastName)}}</a></i>
        </figcaption>
    </figure>
    
    <p class="lead p-2">
        {{currentpost.textContent}}
    </p>
</div>